-
    var items = [
        {
            title: "Random Stuff",
            lists: [
                'Etiam feugiat condimentum',
                'Aliquam imperdiet suscipit odio',
                'Sed porttitor cras in erat nec',
                'Felis carius pellentesque potenti',
                'Nullam scelerisque blandit leo'
            ]
        },
        {
            title: "Random Stuff",
            lists: [
                'Etiam feugiat condimentum',
                'Aliquam imperdiet suscipit odio',
                'Sed porttitor cras in erat nec',
                'Felis carius pellentesque potenti',
                'Nullam scelerisque blandit leo'
            ]
        },
        {
            title: "Random Stuff",
            lists: [
                'Etiam feugiat condimentum',
                'Aliquam imperdiet suscipit odio',
                'Sed porttitor cras in erat nec',
                'Felis carius pellentesque potenti',
                'Nullam scelerisque blandit leo'
            ]
        },
    ];
-
    var contact = [
        {
            title: "Contact Us",
            iconlist: [
                'fa fa-twitter-square',
                'fa fa-facebook-square',
                'fa fa-pinterest-square',
                'fa fa-google-plus-square'
            ],
            lists: [
                '1234 Fictional Road',
                'Nashville, TN 00000',
                '(800) 555-0000'
            ]
        }
    ];

doctype html
div(class='padding_container container_footer')
    each item in items
        div(class='col-fourth')
            h4=item.title
            each list in item.lists
                p(class='itemListFooter')=list

    each item in contact
        div(class='col-fourth')
            h4=item.title
            p(class='containerIconsFooter')
                each icon in item.iconlist
                    i(class=icon)
            each list in item.lists
                p(class='itemListFooter itemContact')=list
