doctype html
div(class='padding_container container_section container_1_section')

    div(class='col-mid')
        h1(class='title1Section') Hi. This is Lorem.
        p(class='p1Section') Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.

    div(class='col-mid')
        div(class='containerBtns')
            button(class='btnDefault btnPrimary') Ok let's Go
                div(class='container-icon-btn')
                    i(class='icon-btn fa fa-arrow-circle-right')
            button(class='btnDefault') More Info
                div(class='container-icon-btn')
                    i(class='icon-btn fa fa-question-circle')