-
    var items = [
        {
            title: "Put Something Here",
            subtitle: "Maybe here as well i think",
            src: 'https://p4.wallpaperbetter.com/wallpaper/362/276/920/nature-4k-pc-full-hd-wallpaper-preview.jpg'
        },
        {
            title: "An interesting title",
            subtitle: "This is also an interesting subtitle",
            src: 'https://cdn.pixabay.com/photo/2018/01/14/23/12/nature-3082832__480.jpg'
        },
        {
            title: "Oh, and finally...",
            subtitle: "Here's another intriguing subtitle",
            src: 'https://www.tuexperto.com/wp-content/uploads/2017/10/fondospantalla.jpg'
        },
    ];
doctype html
div(class='padding_container container_section container_2_section')
    each item in items
        div(class='col-third')
            div(class='containerCard')
                div(class='containerImage')
                    img(src=item.src alt=item.title class='imageSection2')
                    h4(class='titleImage2')=item.title
                div(class='textImageSection2')
                    h4=item.subtitle
                    p It is a long established fact that a reader will be distracted by the readable content of a page when looking...