.containerHeader {
    position: relative;
    overflow: hidden;
    margin-top: 35px;

    .itemNavBar {
        float: left;
        font-weight: bold;
        margin: 5px 20px;
        font-size: 15px;
        cursor: pointer;
    }

    .itemNavBar.active {
        color: #fff;
        background-color: #585858;
        padding: 5px 20px;
        margin: 0px;
        border-radius: 5px;
    }

    .navbarHeader {
        float: right;
        margin-top: 10px;
    }

    .titleNavBar {
        margin: 0px;
        margin-right: auto;
        color: #EF5028;
        font-family: "Oleo Script";
        font-size: 35px;
        font-weight: normal;
    }
}

@media screen and (max-width: 600px) {
    .containerHeader .itemNavBar, .navbarHeader {
        float: none;
        display: block;
    }
}