.container_footer {
    margin-top: 20px;
    float: left;
    background-color: transparent;
    width: 85%;

    .col-fourth {
        width: 24%;
        float: left;

        .itemListFooter {
            font-size: 13px;
            text-decoration: underline;
        }

        .itemContact {
            text-decoration: none;
        }

        .containerIconsFooter {
            i {
                font-size: 25px;
                margin-right: 5px;
                cursor: pointer;
            }
        }
    }
}

@media (max-width: 990px) {
    .col-fourth {
        width: 48% !important;
    }
}