-
  var items = [
    {id: "1", val: 'Welcome'},
    {id: "2", val: 'Left Sidebar'},
    {id: "3", val: 'Right Sidebar'},
    {id: "4", val: 'No Sidebar'}
  ];
doctype html
header(class='padding_container containerHeader')

  script(type="text/javascript").
    function activeNavBar(id) {
      var element = document.querySelector(".navbarHeader .active");
      if (element) element.classList.remove("active")

      element = document.getElementById(id);
      if (element) element.classList.add("active");
    }
    window.onload = function() {
      activeNavBar("1");
    }

  a(class='titleNavBar itemNavBar') myLorem
  nav(class='navbarHeader')
    each item in items
      a(class='itemNavBar' id=item.id onclick='activeNavBar('+item.id+')')=item.val