doctype html
html
  head
    link(href='http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' rel='stylesheet')
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title BB FrontEnd
    body
      include views/header/header.pug
      include views/body/section_1.pug
      include views/body/section_2.pug
      include views/footer/footer.pug