body {
    margin: 15px 0px;
    background-color: #E0E0E0;
    font-family: "Open Sans";
    color: #484848;
}

.container_section {
    background-color: #F8F8F8;
    border-radius: 5px;
    float: left;
    padding: 40px 30px;
}

.padding_container {
    margin: 0px 15%;
}