.container_2_section {
    border-radius: 5px;
    float: left;
    margin-top: 30px;
    padding: 40px 0px;
    background-color: transparent;
    
    .col-third {
        float: left;
        width: 33.33%;

        .containerCard {
            background-color: #F8F8F8;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
            height: 380px;
            max-height: 380px;
            margin: 0px 10px;
            border-radius: 5px;

            .containerImage {
                position: relative;

                .imageSection2 {
                    width: 100%;
                    border-radius: 5px 5px 0 0;
                }

                .titleImage2 {
                    margin: 0px;
                    position: absolute;
                    bottom: 10px;
                    left: 5px;
                    color: #fff;
                }
            }

            .textImageSection2 {
                padding: 5px 10px;
                color: #484848;
                font-size: 14px;

                h4 {
                    margin: 5px 0px;
                }

                p {
                    color: #888888;
                    line-height: 2;
                }
            }
        }

        .containerCard:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }
    }  
}