.container_1_section {
    margin-top: 30px;

    .title1Section {
        font-family: "Open Sans";
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .p1Section {
        font-size: 25px;
        font-weight: lighter;
        margin-top: 5px;
        color: #808080;
    }

    .col-mid {
        float: left;
        width: 50%;
    }

    .containerBtns {
        padding: 10px 0px 0px 45px;

        .btnDefault {
            height: 60px;
            width: 100%;
            margin-top: 15px;
            text-align: left;
            background-color: #E0E0E0;
            font-size: 25px;
            border-radius: 5px;
            border: 0px;
            font-weight: bold;
            color: #484848;
            padding: 10px 20px;
            cursor: pointer;

            .container-icon-btn {
                float: right;

                .icon-btn {
                    font-size: 26px;
                    animation-name: btnIcons;
                    transition: all 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
                }
            }

        }

        .btnDefault:hover, .btnPrimary:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
            .container-icon-btn {
                transition: all 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
                padding: 1px 4px;
                border-radius: 17px;
                .icon-btn {
                    transform: scale(1.3);
                    -webkit-transform: all .2s ease-in-out 0s;
                    transform-origin: 50% 50%;
                    border-radius: 15px;
                }
            }
        }

        .btnDefault:hover {
            background-color: #cdcbcb;
        }

        .btnPrimary {
            background-color: #0581C4;
            color: #F8F8F8;
        }

        .btnPrimary:hover {
            background-color: #0c9be9;
        }
    }

}

@keyframes btnIcons {
    0% {
      transform: translate(148px, 78px);
    }
    100% {
      transform: translate(148px, 84px);
    }
}

@media (max-width: 990px) {
    .btnDefault {
        font-size: 20px !important;
    }
}